.light{
  --body-color: #0C101A;         /* Dark background color */
  --sidebar-color: #0E141E;      /* Slightly lighter dark color for the sidebar */
  --primary-color: #00B894;      /* Green primary color */
  --primary-color-light: #00E5A8; /* Lighter shade of green */
  --toggle-color: #FFF;
  --text-color: #B3C5E0;  
}
  
.dark{
  --body-color: #0C101A;       /* Dark background color */
  --sidebar-color: #0E141E;    /* Slightly lighter dark color for the sidebar */
  --primary-color: #00B8D4;    /* Cyan primary color */
  --primary-color-light: #00E5FF; /* Lighter shade of cyan */
  --toggle-color: #FFF;
  --text-color: #B3C5E0;  
}

#root{
  box-sizing: border-box;
}

body{
  height:fit-content;
  background-color: grey;
  max-width: 100vw;
}

.App{
  display:flex;
  color: white;
  background-color: var(--sidebar-color);
}

.nav-dashboard{
  width: 86.77%;
}

.dashboard{
  width: 109%;
}

.table-content{
  display: flex;
  flex-direction: column;
  height:120% !important;
  border: 1px solid var(--primary-color);
}


.filter-area{
  display: flex;
  align-items: center;
  justify-content: space-around;
}