

#root{
  box-sizing: border-box;
}

body{
  height:fit-content;
  background-color: grey;
  max-width: 100vw;
}

.App{
  display:flex;
  color: white;
  background-color: var(--sidebar-color);
}

.nav-dashboard{
  width: 86.77%;
}

.dashboard{
  width: 109%;
}

.table-content{
  display: flex;
  flex-direction: column;
  height:120% !important;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}


.filter-area{
  display: flex;
  align-items: center;
  justify-content: space-around;
}