:root{
  --body-color: #0C101A;       /* Dark background color */
  --sidebar-color: #0E141E;    /* Slightly lighter dark color for the sidebar */
  --primary-color: #00B8D4;    /* Cyan primary color */
  --primary-color-light: #00E5FF; /* Lighter shade of cyan */
  --toggle-color: #FFF;
  --text-color: #B3C5E0;  
}


body,
.content {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

#root{
}