.light{
    --body-color: #0C101A;         /* Dark background color */
    --sidebar-color: #0E141E;      /* Slightly lighter dark color for the sidebar */
    --primary-color: #00B894;      /* Green primary color */
    --primary-color-light: #00E5A8; /* Lighter shade of green */
    --scrollbar-color: #118011;
    --toggle-color: #FFF;
    --text-color: #B3C5E0;  
}
  
.dark{
    --body-color: #0C101A;       /* Dark background color */
    --sidebar-color: #0E141E;    /* Slightly lighter dark color for the sidebar */
    --primary-color: #00B8D4;    /* Cyan primary color */
    --primary-color-light: #00E5FF; /* Lighter shade of cyan */
    --scrollbar-color: #179397;

    --toggle-color: #FFF;
    --text-color: #B3C5E0;       
}

.highlight {
    color: var(--primary-color);
    font-weight: bold;
  }


.table-content{
    height: 850px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 105%;
    border: none;
}
  
.bloc-tabs {
    display: flex;
    height: 60px;
    margin: 0;
    padding: 0;
}

.tabs {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--border-color);
    flex: 1;
}

.active-tabs {
    background-color: var(--sidebar-color);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--primary-color);
    position: relative; /* Add this line */
    border: 2px solid var(--primary-color-light);
    background-color: var(--primary-color);
}


.content {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Add a blur filter for the frosted glass effect */
    background-clip: padding-box; /* Clip the background to the padding box to avoid affecting text */
    width: 100%;
    display: none;
  }
  
  

.active-content {
    display: block;
}
  



/* Add Tab */



.add{
    padding: 40px 80px;
    flex: 1
}

.add-content{
    height: 100%;
    width: 100%;

}

.add-field{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.add-results{
    height: 800px;
    border: 1px solid var(--border-color);
    background-color: #aaa;
}

  
/* display  */

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: 3px solid var(--secondary-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
}



.notification{
    background-color: rgb(165, 18, 18) !important;
}



.notification_ai{
    background-color: rgb(0, 38, 207) !important;
}


.display-header{
    display: flex;
    margin: 0 20px;
}