.light{
    --body-color: #0C101A;         /* Dark background color */
    --sidebar-color: #0E141E;      /* Slightly lighter dark color for the sidebar */
    --primary-color: #00B894;      /* Green primary color */
    --primary-color-light: #00E5A8; /* Lighter shade of green */
    --toggle-color: #FFF;
    --text-color: #B3C5E0;  
    --odd-color: #00614e;
    --even-color: #0a6b58;
}
  
.dark{
    --body-color: #0C101A;       /* Dark background color */
    --sidebar-color: #0E141E;    /* Slightly lighter dark color for the sidebar */
    --primary-color: #00B8D4;    /* Cyan primary color */
    --primary-color-light: #00E5FF; /* Lighter shade of cyan */
    --toggle-color: #FFF;
    --text-color: #B3C5E0;       /* Light blue text color */
    --odd-color: rgb(2, 119, 128);
    --even-color: #0b5a63;
}


.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal-content {
    width: 50%;
    height: 80%;
    border-radius: 12px;
    background-color: var(--sidebar-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
}



.modal-content .title {
    font-size: larger;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal-content .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.7rem;
}

.modal-content .alive-content{
    width: 100%
}

.modal-content .alive-prop{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0
}
.alive-prop p{
    flex: 50%;
    margin-left: 100px;
}
.alive-prop span{
    flex: 50%;
    color: var(--text-color)
}
.alive-prop .input-style{
    flex: 50%;
}
.modal-content .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border-radius: 8px;
    font-size: 20px;
}
