
.endpoint-bar{
    display: flex;
    justify-content: space-between;
    width: 105.25%;
    border: 2px solid var(--border-color);
    padding: 0 30px;
    overflow: hidden;
}

.endpoint-msg{
    color: gray
}

.endpoint-main{
    display:flex;
    flex-direction: column;
}



.end-content{
    width: 90vw;
    display: flex;
}

.endpoint-bar .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}


.endpoint-bar .filter .filter_input{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.endpoint-bar .filter .filter_input input{

    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    margin: 2px 0;

}

.endpoint-bar .filter button{

    background-color: var(--primary-color);
    padding: 4px 12px;
    height: 80%;
}

/* Scrollbar Styling for MUI DataGrid */
.MuiDataGrid-virtualScroller {
    height: 100%; /* Ensure the virtual scroller takes full height */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Scrollbar for WebKit Browsers */
.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges */
    border: 2px solid transparent; /* Space around the thumb */
    background-clip: padding-box; /* Clip the background within the border */
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
    background-color: #222; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded edges for track */
}

/* For Firefox */
.MuiDataGrid-virtualScroller {
    scrollbar-width: thin; /* Set scrollbar width */
    scrollbar-color: #888 #222; /* Thumb and track color */
}

/* Ensure proper height and overflow behavior */
.table-content {
    height: 100%; /* Ensure full height */
    overflow: hidden; /* Prevent overflow */
}